body {
    max-width: 600px;
    margin: 4rem 5rem;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    line-height: 1.75;
    font-weight: normal;
    font-size: 10pt;
}

@media screen and (max-width:600px) {
    body {
        margin: 2rem !important;
    }
}

a,
a:visited {
    color: #7b7b7b;
}

img,
video,
figure {
    margin: 0;
    max-width: 600px;
}

hr {
    margin: 0;
    max-width: 75%;
    border-top: 0.5px solid #7b7b7b;
    border-radius: 6px;
}