body {
    max-width: 600px;
    margin: 4rem auto 1rem auto;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "avenir next",
        avenir,
        helvetica,
        "helvetica neue",
        ubuntu,
        roboto,
        noto,
        "segoe ui",
        arial,
        sans-serif;
    line-height: 1.75;
    font-weight: normal;
    font-size: 11pt;
}

@media screen and (max-width:600px) {
    body {
        margin: 2rem !important;
    }
}

.sep {
    text-align: center;
    font-family: monospace;
    margin: 1rem 0;
    font-size: 14pt;
}

a,
a:visited {
    color: #5e81f0;
}

p:has(b) {
    margin: 0;
}

p:has(b)+p {
    margin: 0;
}